/*Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like this.*/

/*Global Styling Choices*/

header {
  width: 100%;
}

section {
  width: 100%;
}

nav {
  position: absolute;
  top: 0px;
  right: 0px;
}

ul {
  list-style: none;
}
/*Classed Styling Choices*/

/*IDed Styling Choices*/
#facePic {
  display: inline-block;
}

#topPlate {
  display: inline-block;
}
