/*Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.*/

/*Nav Styling*/
nav {
  position: absolute;
  top: 0px;
  right: 0px;
}

/*Portfolio Item Styling*/
.folioItem {

}

.folioName {
  width: 60%;
  font-size: 6rem;
  letter-spacing: -.5rem;
  display: inline-block;
  margin: auto auto 0px auto;
}

.folioDesc {
  margin: .1rem auto 0px auto;
}

/*Social Media Contact Styling*/

#findMe > ul > li {
  display: inline-block;
}
